/* Mobile Devices (max-width: 600px) */
@media screen and (max-width: 600px) {
    .category-section {
        flex-direction: column;
        margin: 20px auto;
    }

    .category {
        width: 100%;
        height: auto;
    }

    /* .category .img-border img {
        width: 150px;
        height: 150px;
    } */

    .btn-view-service {
        padding: 6px 12px;
    }

    .review,
    .appointment {
        flex-direction: column;
        align-items: stretch;
        max-width: 100%;
    }

    .review .container,
    .appointment .container {
        max-width: 100%;
        margin: 20px 0;
    }

    .appointment .container form {
        gap: 15px;
    }

    .search {
        width: 80%;
        margin-top: 15px;
    }

    .all-services {
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
    }

    .sub-service {
        width: 90%;
        height: auto;
    }

    .btns {
        padding: 8px 16px;
    }

    .service-title p {
        font-size: 0.9rem;
    }

    .service-image img {
        width: 100%;
        height: auto;
    }

    .btn-book {
        padding: 6px 12px;
    }

    .service-detail {
        padding: 15px;
    }

    .service-header h1 {
        font-size: 1.8rem;
    }

    .image-gallery h2,
    .service-highlights h2 {
        font-size: 1.5rem;
    }

    .gallery-grid {
        grid-template-columns: 1fr 1fr;
    }

    .gallery-image {
        height: 200px;
    }

    .service-highlights ul {
        padding-left: 15px;
    }
}

/* Tablet Devices (min-width: 600px and max-width: 1024px) */
@media screen and (min-width: 600px) and (max-width: 1060px) {
    .category-section {
        margin: 30px auto;
    }

    .category {
        width: 45%;
        height: 270px;
    }

    /* .category .img-border img {
        width: 180px;
        height: 180px;
    } */

    .review,
    .appointment {
        max-width: 80vw;
    }

    .review .container,
    .appointment .container {
        max-width: 100%;
    }

    .appointment .container form {
        gap: 15px;
    }

    .search {
        width: 30%;
    }

    .all-services {
        flex-wrap: wrap;
        gap: 20px;
    }

    .sub-service {
        width: 48%;
        height: 300px;
    }

    .btn-book {
        font-size: 0.9rem;
    }

    .service-title p {
        font-size: 1rem;
    }

    .service-image img {
        width: 200px;
        height: 250px;
    }

    .service-header h1 {
        font-size: 2rem;
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}